.Moves {
  width: 200px;
  min-height: 200px;
}

.Game {
  position: relative;
  display: flex;
  flex-direction: row;
}

.Forms {
  position: relative;
  float: right;
}

.BoardWrapper {
  height: 50%;
  width: 50%;
  margin-right: 5em;
}